<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Vulnerable Web-App</title>
	     
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="{{static_url('css/zerogrid.css')}}">
	<link rel="stylesheet" href="{{static_url('css/style.css') }}">
	<link rel="stylesheet" href="{{static_url('css/lightbox.css')}}">
	
	<!-- Custom Fonts -->
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" href="{{ static_url('css/menu.css') }}">
	<script src="{{ static_url('js/jquery1111.min.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/script.js') }}"></script>
	  
		
</head>

<body>
<div class="wrap-body">
	<div class="header">
		<div id='cssmenu' class="align-right">
			<ul>
			   <li class="active"><a href='index.html'><span>Home</span></a></li>
			   <li><a href='server.html'><span>Server Status</span></a></li>
			   <li class='last'><a href='login.html'><span>Login</span></a></li>
			</ul>
		</div>
	</div>
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<section class="content-box box-1">
					<div class="zerogrid">
						<div class="wrap-box"><!--Start Box-->
							<div class="row">
								<div class="">
									<div class="row">										
										<div class="col-1-2">
											<a href="index.html"><img src="/static/images/abc.png" /></a>
										</div>
										<div class="col-1-2">
											<form id="form-container" action="/search" class="f-right">
												<!--<input type="submit" id="searchsubmit" value="" />-->
												<a class="search-submit-button" href="javascript:void(0)">
													<i class="fa fa-search"></i>
												</a>
												<div id="searchtext">
													<input type="text" id="s" name="q" placeholder="Search Something...">
												</div>
											</form>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</section>
				<h1>Upload Wallpaper</h2>
				<form enctype="multipart/form-data" action="/upload" method="post">
				File: <input type="file" name="file1" />
				<br />
				<br />
				<input type="submit" value="upload" />
				</form>
				<ul>
					<li><a href="/read?file=car">History of Cars</a></li>
					<li><a href="/read?file=cycle">History of Cycles</a></li>
					<li><a href="/read?file=bike">History of Bike</a></li>
				</ul>
			</div>
		</section>
</body>
</html>